html,
body,
header,
#main {
    height: auto;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: azure;
}

#nav img {
    max-height: 150px;
    max-width: 150px;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    min-width: 50%;
}

#display {
    background-color: azure;
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 505;
    transform: translate(50%, auto);
    z-index: 2;
    width: 100%;
    padding: 50px;
}

#display-title {
    padding: 25px;
    text-align: center;
}

#display-table {
    padding: 10px;
    text-align: left;
}

#display-buttons {
    text-align: center;
    padding-bottom: 10px;
}

#submit-anchor{
    text-decoration: none;
    color: black;
}

#submit-anchor:hover {
    color: white;
}

#logout-anchor{
    text-decoration: none;
    color: green;
}

#logout-anchor:hover{
    color: azure;
}